<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <!--<add name="dbConnection" connectionString="Server=CNCTUG0BF01;Database=uniformmgmt; User ID=vendor;Password=jabil123!;port=3306;pooling=true;"/>-->
    <add name="DBConnection" connectionString=""/>
  </connectionStrings>
  <appSettings>
    <add key="DBServer" value="qdm796914581.my3w.com"/>
    <add key="DBName" value="qdm796914581_db"/>
    <add key="DBUser" value="qdm796914581"/>
    <add key="DBPwd" value="bobo4Mysql"/>
    <add key="DBPort" value="3306"/>

  </appSettings>

</configuration>